<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      #list {
        width: 400px;
        border: 1px solid black;
        border-collapse: collapse;
      }
      #list td,
      #list th {
        border: 1px solid black;
        text-align: center;
      }
      #list > thead > tr {
        color: yellow;
        background-color: purple;
      }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
  </head>

  <body>
    <div id="example">
      <p>
        국가명 :
        <input type="text" v-model="countryname" placeholder="국가명" />
        <!-- 
          input에서 엔터를 누르거나 포커스를 해제해줘야 input value 값이 반영되는데 좀 이상하네..? 근데 바로 다음 쪽 내용에서 이걸 다룬다 ㅋㅋㅋㅋ
         -->
      </p>
      <table id="list">
        <thead>
          <tr>
            <th>번호</th>
            <th>국가명</th>
            <th>수도</th>
            <th>지역</th>
          </tr>
        </thead>
        <tbody id="contacts">
          <tr v-for="c in filtered">
            <td>{{ c.no }}</td>
            <td>{{ c.name }}</td>
            <td>{{ c.capital }}</td>
            <td>{{ c.region }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <script text="text/javascript">
      let model = {
        countryname: '',
        countries: [
          { no: 1, name: '미국', capital: '워싱턴DC', region: 'america' },
          { no: 2, name: '프랑스', capital: '파리', region: 'europe' },
          { no: 3, name: '영국', capital: '런던', region: 'europe' },
          { no: 4, name: '중국', capital: '베이징', region: 'asia' },
          { no: 5, name: '태국', capital: '방콕', region: 'asia' },
          { no: 6, name: '모로코', capital: '라바트', region: 'africa' },
          { no: 7, name: '라오스', capital: '비엔티안', region: 'asia' },
          { no: 8, name: '베트남', capital: '하노이', region: 'asia' },
          { no: 9, name: '피지', capital: '수바', region: 'oceania' },
          {
            no: 10,
            name: '솔로몬 제도',
            capital: '호니아라',
            region: 'oceania',
          },
          { no: 11, name: '자메이카', capital: '킹스턴', region: 'america' },
          { no: 12, name: '나미비아', capital: '빈트후크', region: 'africa' },
          { no: 13, name: '동티모르', capital: '딜리', region: 'asia' },
          { no: 14, name: '멕시코', capital: '멕시코시티', region: 'america' },
          {
            no: 15,
            name: '베네수엘라',
            capital: '카라카스',
            region: 'america',
          },
          { no: 16, name: '서사모아', capital: '아피아', region: 'oceania' },
        ],
      };

      const clist = new Vue({
        el: '#example',
        data: model,
        computed: {
          filtered() {
            // 여기서 this는 Vue 인스턴스 참조
            const cname = this.countryname.trim();
            return this.countries.filter((c, i) => {
              // cname을 쓴 이유는 filter 함수 내 this는 Vue 인스턴스가 아니라 Global Object: 브라우저 환경에서는 window 객체를 참조하기 때문
              if (c.name.indexOf(cname) > -1) return true;
            });
          },
        },
      });
    </script>
  </body>
</html>
